<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANfpWCW-VYH826MtWksDhX5HtlwkEXsN8</string>
	<key>GCM_SENDER_ID</key>
	<string>658303766817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fasum</string>
	<key>PROJECT_ID</key>
	<string>glass-gasket-402112</string>
	<key>STORAGE_BUCKET</key>
	<string>glass-gasket-402112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658303766817:ios:7e66ec66d2acd28ee66e60</string>
</dict>
</plist>